<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dataflow-development.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>dataflow-development.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dataflow-development</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$dataflow-development</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="server_components_data_access.Dataflow.DataFlowContext" Order="1" Enabled="False">
          <Destination Path="Data Source=edfiodssql-xm4wsvuqhyvva.database.windows.net;Initial Catalog=EdFi_DataFlow_Sandbox;Persist Security Info=True;User ID=dataflow_devadmin;Password=NorthWest2000!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="server_components_data_access.Dataflow.DataFlowContext, server-components-data-access" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)server_components_data_access.Dataflow.DataFlowContext-Web.config Connection String">
      <ParameterValue>Data Source=edfiodssql-xm4wsvuqhyvva.database.windows.net;Initial Catalog=EdFi_DataFlow_Sandbox;Persist Security Info=True;User ID=dataflow_devadmin;Password=NorthWest2000!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="server_components_data_access.Dataflow.DataFlowContext" />
  </ItemGroup>
</Project>