@model DataFlow.Models.BootstrapData

@{
    ViewBag.Title = "Edit Bootstrap Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Bootstrap Data</h2>

@using (Html.BeginForm("Edit", "BootstrapData", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialBootstrapDataForm", Model)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}