<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AppName" value="DataFlow.Web" />
  <add key="EncryptionKey" value="abcdefghi" />
  <add key="SimultaneousTasks" value="20" />
  <add key="FileMode" value="Local" /> <!-- Azure or Local -->
  <add key="ShareName" value="C:\Temp" /> <!-- Azure = share name or Local = full path (C:\Temp) -->
  <add key="AllowTestCertificates" value="false" /> <!-- If true, test certificates are allowed for FTPS transfers -->
  <add key="ForceHttps" value="false" />
  <add key="DaysToKeepFiles" value="30"/> <!-- Files will be automatically deleted beyond this number of days, set to 0 for no deletion -->
</appSettings>