<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AppName" value="DataFlow.Web" />
  <add key="EncryptionKey" value="abcdefghi" />
  <add key="FileMode" value="Azure" /> <!-- Azure or Local -->
  <add key="ShareName" value="sample-files" />
  <add key="AllowTestCertificates" value="false" /> <!-- If true, test certificates are allowed for FTPS transfers -->
</appSettings>