<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sftp_janitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  </appSettings>
  <applicationSettings>
    <sftp_janitor.Properties.Settings>
      <setting name="FileShareName" serializeAs="String">
        <value>sample-files</value>
      </setting>
      <setting name="StorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=dataflow;AccountKey=xXC4GJaa2ZbkigVk3a4a38Ol+42KQ4AiezibfgijShtBMeEz+CHHr3mceufm7DA8p9jl1wgCzAHFGaXH3ydupA==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="LocalDestinationDirectory" serializeAs="String">
        <value>C:\Test</value>
      </setting>
      <setting name="LocalSourceDirectory" serializeAs="String">
        <value>C:\TestSourceFiles</value>
      </setting>
    </sftp_janitor.Properties.Settings>
  </applicationSettings>
</configuration>