<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sftp_janitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
  </appSettings>
  <applicationSettings>
    <sftp_janitor.Properties.Settings>
      <setting name="FileShareName" serializeAs="String">
        <value>sample-files</value>
      </setting>
      <setting name="StorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=dataflowdev;AccountKey=18IU2QEy3ed7ZEH/61hkQi17mxYEP5Q+1xkcofiE94f+tcfECVEIQHAj6N8rkXuoWBbjrYQCTdPv7bLfL10Hvw==;EndpointSuffix=core.windows.net</value>
      </setting>
    </sftp_janitor.Properties.Settings>
  </applicationSettings>
</configuration>