@model DataFlow.Web.Models.AssessmentViewModel.AddOrEdit

@{
    ViewBag.Title = "Add Assessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Add", "Assessment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialAssessmentForm", Model)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}