@model DataFlow.Web.Models.AssessmentViewModel.AddOrEdit

@{
    ViewBag.Title = "Edit Assessment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Assessment", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialAssessmentForm", Model)
}