@model System.Collections.Generic.List<DataFlow.EdFi.Models.AssessmentComposite.Assessment>

@{
    ViewBag.Title = "Assessments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
