@model DataFlow.Web.Models.SchoolViewModel.AddOrUpdate

@{
    ViewBag.Title = "Add School";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Add", "School", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialSchoolForm", Model)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}