@model List<DataFlow.Web.Models.SchoolViewModel.Grid>

@{
    ViewBag.Title = "Schools";
}
<h2>@ViewBag.Title</h2>
<table class="table table-striped table-hover table-bordered table-responsive">
    <thead>
        <tr>
            <th></th>
            <th>School</th>
            <th>Abbreviation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@Html.ActionLink("View Details", "Details", new { s.Id })</td>
                <td>@s.Name</td>
                <td>@s.Abbreviation</td>
            </tr>
        }
    </tbody>
</table>
