<connectionStrings>
  <add name="defaultConnection" connectionString="Data Source=edfiodssql-xm4wsvuqhyvva.database.windows.net;Initial Catalog=EdFi_DataFlow_Sandbox;Persist Security Info=True;User ID=dataflow_devadmin;Password=NorthWest2000!" />
  <add name="storageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=dataflow;AccountKey=xXC4GJaa2ZbkigVk3a4a38Ol+42KQ4AiezibfgijShtBMeEz+CHHr3mceufm7DA8p9jl1wgCzAHFGaXH3ydupA==;EndpointSuffix=core.windows.net" />
</connectionStrings>