@using System.Data.Entity.Migrations
@using DataFlow.Web.Helpers
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
@{
        var dataFlowDbContext = new DataFlow.Common.DAL.DataFlowDbContext();
    }

    @{
        if (IsPost)
        {


            string companyname = Request["CompanyName"];
            <p>
                You entered: <br>
                Company Name: @companyname <br>
            </p>

            var companyNameRecord = dataFlowDbContext.Configurations.FirstOrDefault(x=>x.Key == Constants.INSTANCE_COMPANY_NAME);
            companyNameRecord.Value = companyname;
            dataFlowDbContext.Configurations.AddOrUpdate(companyNameRecord);
            dataFlowDbContext.SaveChanges();
        }
        else
        {
            <div>
                The Company Name is: @Html.Raw(dataFlowDbContext.Configurations.FirstOrDefault(x=>x.Key == Constants.INSTANCE_COMPANY_NAME)?.Value)
            </div>

            <form method="post" action="">
                Company Name:<br>
                <input type="text" name="CompanyName" value=""><br>
                <input type="submit" value="Submit" class="submit">
            </form>
        }
    }
</body>
</html> 