@model DataFlow.Models.Agent

@{
    ViewBag.Title = "Add Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Agent", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialAgentForm", Model)
}