@model DataFlow.Models.DataMap

@{
    ViewBag.Title = "Add Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Add", "Map", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialMapForm", Model)
}