@model DataFlow.Models.DataMap

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Map", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_PartialMapForm", Model)
}