@model DataFlow.Web.Models.FormResult

@if (Model.ShowInfoMessage)
{
    <div class="panel @(Model.IsSuccess ? "panel-success" : "panel-danger")">
        <div class="panel-heading">@(Model.IsSuccess ? "Success" : "Error")</div>
        <div class="panel-body">@Model.InfoMessage</div>
    </div>
}
